.commonBtn {
    width: 200px;
    height: 30px;
    cursor: pointer;
    background-color: whitesmoke;
    border: 1px solid rgb(0, 86, 156);;
    color: rgb(0, 86, 156);
    border-radius: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin: 7px 0;
    
}

.commonBtn:hover {
    background-color: rgb(224, 224, 224);
    border: 1px solid rgb(0, 73, 132);
    color: rgb(0, 73, 132);
}